.Header{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.Logo{
    font-size: 20px;
    color: dodgerblue;
    padding: 20px;
}
.Logo:hover{
    background-color: black;
    color: lightyellow;
}
.Ulnav{
    list-style: none;
}
.Navbar ul li{
    position: relative;
    float: left;
}
.Linknav{
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    color: black;
    display: block;
}
.Linknav:hover{
    color: white;
    background-color: black;
    border-bottom: 3px solid royalblue;
}
.pageInul{
    list-style: none;
    position: absolute;
    left: 0;
    width: 150px;
    background: white;
    text-decoration: none;
    display: none;
}
.pageInul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.pageInul li ul{
    list-style: none;
    left: 150px;
    top: 0;
}
.pageInul li ul li{
    font-size: 20px;
    left: 152px;
    top: 0;
}
.pageInul li ul li NavLink{
    font-size: 20px;
}
.Linav:hover > ul{
 display: initial;
}