*{
    margin: 0;
    padding: 0;

}
.Header{
    width: 100%;
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.Logo{
    font-size: 20px;
    color: dodgerblue;
    padding: 20px;
}
.Logo:hover{
    background-color: black;
    color: lightyellow;
}

.Ulnav{
    list-style: none;
}
.Linav{
    position: relative;
    float: left;
}
.Linknav{
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    color: black;
    display: block;
}
.Linknav:hover{
    color: white;
    background-color: black;
    border-bottom: 3px solid royalblue;
}
.Navbar ul li ul{
    position: absolute;
    left: 0;
    width: 150px;
    background: white;
    display: none;
}
.Navdiv{
    display: block;
}
.Menu{
    display: none;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
}
.blackDiv{
    display: block;
}
@media screen and (max-width:700px){
    .Navdiv{
        display: none;

    }
    .Menu{
        display: block;
    }

}
/* .blackDiv{
    display: none;
} */
.Navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.Navbar ul li ul li ul{
    left: 150px;
    top: 0;
}
.Linav:focus-within > ul,
.Linav:hover > ul{
 display: initial;
}
.Container{
    width: 100%;
    margin: 0;
    padding: 0;
}
.Home{
    margin-top: 50px; 
}

 @media (max-width:700px){
    .Navbar{
        position: absolute;
        top:100%; left:0; right: 0;
        background-color: white;
        border-top: 1px solid rgba(0, 0, 0, 0.1)
    }
    .Navbar ul li {
        width: 100%;
    }
    .Navbar ul li ul{
        position: relative;
        width: 100%;
    }
    .Navbar ul li ul li ul{
       left: 0;
        width: 100%;
    }
 }